<section class="strategic-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="title">
                    <span>
                        {{'strategic.title' | translate}}
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <ngx-slick-carousel class="carousel strategiccarousel"  #strategicslickModal="slick-carousel"  [config]="strategicslideConfig">
            <div ngxSlickItem *ngFor="let slide of strategiclist" class="slide">
                <div class="card">
                    <div class="card-body">
                        <img [src]="slide.img" class="d-block w-100"/>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>