<section class="intellactual-block">
    <div class="row text-center">
        <div class="col-12">
            <h3>
                <span>
                    {{'intellactual.Browse Intellectual Output' | translate}}
                </span>
            </h3>
        </div>
    </div>
    <div class="row intellactual-list mt-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card librarycard">
                <div class="card-body">
                    <div class="block3">
                        <div class="row">
                            <div class="col-3">
                                <img style="max-height: 80px;" class="img-fluid" src="../../assets/images/cover-book.png"/>
                            </div>
                            <div class="col-9">
                                <h6 class="author">
                                    {{'intellactual.blockthree.title' | translate}}
                                </h6>
                                <h6 class="title"> 
                                    <span>{{'intellactual.blockthree.author' | translate}} </span>
                                </h6>        
                            </div>
                        </div>
                        <div class="card-buttons-block">
                            <a class="smallbtn" style="position: relative;">
                                <a class="roundplaybtn">
                                    <i class="fa fa-play"></i>
                                </a>
                                {{'intellactual.blockthree.smbtntext' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="footer">
                        <a class="brownbtn">
                            {{'intellactual.blockthree.btntext' | translate}}
                        </a>
                        <a class="gotobtn">
                            <i class="fa fa-chevron-left "></i>
                        </a>
                    </div>
                    <img class="overlay-img" src="../../assets/images/1.png"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card knowledgecard">
                <div class="card-body">
                    <div class="block2">
                        <div class="header">
                            <div class="numberblock"> 12</div>
                            <img class="episode" src="../../assets/images/episodes_11.png"/>
                            <div class="ribbon">
                                <div class="ribbongray">
                                    <span class="item">
                                        <img class="user" src="../../assets/images/node8.png"/>
                                        <img class="thumbs" src="../../assets/images/thumbs.png"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="author">
                            {{'intellactual.blocktwo.title' | translate}}
                        </h6>
                        <h6 class="title"> 
                            <span><i class="fa fa-user-circle-o"></i> {{'intellactual.blocktwo.author' | translate}} </span>
                        </h6>
                        <div >
                            <a class="smallbtn" style="position: relative;">
                                <a class="roundplaybtn">
                                    <i class="fa fa-play"></i>
                                </a>
                                {{'intellactual.blocktwo.smbtntext' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="footer">
                        <a class="brownbtn">
                            {{'intellactual.blocktwo.btntext' | translate}}
                        </a>
                        <a class="gotobtn">
                            <i class="fa fa-chevron-left "></i>
                        </a>
                    </div>
                    <img class="overlay-img" src="../../assets/images/episodies-filled.png"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card atheercard">
                <div class="card-body">
                    <div class="block1">
                        <img class="small-img" src="../../assets/images/atheer-filled.png"/>
                        <div class="waveblock">
                            <img src="../../assets/images/long-blue-wave.png" class="bluewave-img"/>
                            <img src="../../assets/images/circle_gray.png" class="circle-gray"/>
                            <img src="../../assets/images/node6.png" class="node"/>
                        </div>
                        <h6 class="title">{{'intellactual.blockone.title' | translate}}</h6>
                        <h6 class="author">{{'intellactual.blockone.author' | translate}}</h6>
                        <a class="smallbtn">{{'intellactual.blockone.smbtntext' | translate}} <i class="fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="footer">
                        <a class="brownbtn">
                            {{'intellactual.blockone.btntext' | translate}}
                        </a>
                        <a class="gotobtn">
                            <i class="fa fa-chevron-left "></i>
                        </a>
                    </div>
                    <img class="overlay-img" src="../../assets/images/atheer-filled.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row blankcards mt-100">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/images/videos-filled.png"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/images/edaat-filled.png"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/images/researches-filled.png"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/images/articles-filled.png"/>
                </div>
            </div>
        </div>
    </div>
</section>