<section class="thinkers-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3>
                    <span>
                        {{'thinkers.heading' | translate}}
                    </span>
                </h3>
            </div>
        </div>
        <div class="row thinkers-sec-list">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of this.thinkerlist">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img class="image" [src]="item.image"/>
                            </div>
                            <div>
                                <h4 class="number">{{item.number}}</h4>
                            </div>
                        </div>
                        <h4 class="title">{{item.title}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>