<section class="footer-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <h3 class="title">
                    <span>
                        {{'connect.title' | translate}}
                    </span>
                </h3>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <ul class="list-unstyled contactlist">
                    <li>
                        <div class="d-flex" >
                            <div class="flex-shrink-0">
                                <div class="img-circle">
                                    <img src="../../../assets/images/location.png"/>
                                </div>
                            </div>
                            <div class="contact-info">
                                <h4>{{'connect.addresslabel' | translate}}</h4>
                                <h5>{{'connect.addressvalue' | translate}}</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <div class="img-circle" >
                                    <img src="../../../assets/images/message.png"/>
                                </div>
                            </div>
                            <div class="contact-info">
                                <h4>{{'connect.emaillabel' | translate}}</h4>
                                <h5>{{'connect.emailvalue' | translate}}</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <div class="img-circle">
                                    <img src="../../../assets/images/phone.png"/>
                                </div>
                            </div>
                            <div class="contact-info">
                                <h4>{{'connect.telephonelabel' | translate}}</h4>
                                <h5>{{'connect.telephonevalue' | translate}}</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>